/* Styling form and resume sections */

body {
    font-family: 'Times New Roman', Times, serif;
    margin: 20px;
    padding: 0;
    background-color: #5c5757;
}

form {
    margin: auto;
    background-color: #d4d3d0;
    border-radius: 8px;
    box-shadow: 0 4px 8px #d4d3d0;
    padding: 20px;
    max-width: 600px;
}

h1 {
    text-align: center;
    color: rgb(255, 255, 255);
}

fieldset {
    border: 2px solid #d4d3d0;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #d4d3d0;
}

legend {
    font-weight: bold;
    text-align: left;
    color: #685454;
}

label {
    display: block;
    margin-top: 10px;
    color: rgb(125, 115, 115);

}

input,textarea {
    margin-top: 4px;
    padding: 8px;
    width: calc(100% - 1px);
    border: 1px solid rgb(188, 192, 194);
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    display: block;
    width: 100%;
    background-color: rgb(255, 249, 249);
    color: rgb(125, 121, 121);
    border: none;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    margin-top: 10px;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    padding: 10px;
    cursor: pointer;
}

button :hover {
    color: rgb(255, 255, 255);
}

#resume-display {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 2px solid #d4d3d0;
    border-radius: 8px;
    background-color: #d4d3d0;
    box-shadow: 0 4px 8px rgba(126, 123, 123, 0.5);
}

#resume-display h2 {
    color: rgb(126, 123, 123);
}
